@font-face {
    font-family: myFirstFont;
    src: url(SofiaProLight-webfont.woff);
}

@font-face {
    font-family: indulta-bold;
    src: url(Indulta-SemiSerif-boldFFP.otf);
}

#top{
    background-color: #211F32;
    height: 110px;
    width: 100%;
    color:white;
    font-family: myFirstFont;
}

#top img{
    margin-top: 30px;
    margin-left: 30px;
    float: left;
}

#enlaces{    
    height: 30px;
    margin-top: 40px;
    margin-left: 40px;
    float: left;
}

#enlaces a{
    color:white;
    margin-right: 15px;
}

#redes{
    float: right;
    margin-right: 50px;
}

#enlaces a:hover{
    color: #f17a85;
}

#full-bottom{
    clear: both;
    width: 100%;
    height: 200px;
    background-color: #2e3037;
}

#bottom{
    width: 1200px;
    height: 200px;
    margin: 0 auto;
}

.b-contacto{
    width: 300px;
    height: 200px;
    color: #919495;
    font-size: 16px;
    font-family: indulta-bold;
    text-align: center;
    float: left;
}

.b-contacto a {
    margin-top: 60px;
}

#redes-bottom{
    background-color: #202227;
    color:#E96656;
}

#redes-bottom a img{
    width: 32px;
    margin-right: 10px;
}

.texto-bottom{
    color: #919495;
    margin: 0 !important;
}

#categorias{
    width: 100%;
    color: #FFF;
}

#categoria-a{
    background-image: url(../images/categoria-a.jpg);
    background-position: center;
    background-size: cover;
    float: left;
}

#categoria-b{
    background-image: url(../images/categoria-b.jpg);
    background-position: center;
    background-size: cover;
    float: left;
}

#categoria-c{
    background-image: url(../images/categoria-c.jpg);
    background-position: center;
    background-size: cover;
    float: left;
}

#categoria-d{
    background-image: url(../images/categoria-d.jpg);
    background-position: center;
    background-size: cover;
    float: left;
}

#categoria-e{
    background-image: url(../images/categoria-e.jpg);
    background-position: center;
    background-size: cover;
    float: left;
}

#categoria-f{
    background-image: url(../images/categoria-f.jpg);
    background-position: center;
    background-size: cover;
    float: left;
}

.categoria{
    font-family: myFirstFont;
    text-align: center;
    font-size: 59px;
    vertical-align: middle;
}

.categoria a{
    color: white;
    line-height: 400px;
}

.categoria{
    width: calc(100%/3);
    
}

.categoria:hover{
    box-shadow: 0px 0px 150px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.2);
}

#full-info{
    clear: both;
    width: 100%;
    height: 700px;
    background-color: #211F32;
}

#info{
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    background-color: #211F32;
}